.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0.8rem;
  padding-bottom: 0.5rem;
}

.bottom {
  width: 100%;
  display: flex;
  gap: 0.8rem;
  justify-content: flex-start;
  align-items: center;
}

.input {
  width: 100% !important;
}

.error {
  margin-top: -0.5rem;
  font-size: 0.8rem;
  color: var(--red);
}
