.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: hsl(from var(--color-grey-100) h s l / 0.2);
  backdrop-filter: blur(0.25rem);
  z-index: 1000;
  transition: all 0.3s ease;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-main-200);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  box-shadow: 0 0.4rem 1.2rem hsl(from var(--color-grey-900) h s l / 0.1);
  width: 90vw;
  max-width: 600px;
}

.close {
  all: unset;
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
  transition: all 0.3s ease;
  cursor: pointer;

  & svg {
    width: 1.8rem;
    height: 1.8rem;
    fill: var(--color-grey-500);
    stroke: var(--color-grey-500);
    color: var(--color-grey-500);
  }
}

.close:focus {
  outline: 3px solid var(--color-main-500);
  outline-offset: 2px;
}
