.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0.8rem;
  padding-bottom: 0.5rem;
}

.form {
  width: 100%;
  display: grid;
  gap: 1.2rem;
}

.error {
  margin-top: -0.5rem;
  font-size: 0.8rem;
  color: var(--red);
}

.label {
  display: grid;
  width: 100%;
  grid-template-columns: auto 1fr;
  gap: 1.5rem;
  align-items: center;
}
